* {
  margin: 0 0;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0; */

}

.kittens-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  justify-content: space-between;
}

.kittens-container > div{
  border: 5px rgb(154, 203, 231) solid;
  border-radius: 5px;
  box-shadow: 10px 10px 10px;
  padding: 15px;
}

.kittens-box{
  padding: 40px;
  justify-content: center;
}

.kittens-box > button{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  justify-content: space-between;
}

.kittens-container > image{
  width: 1000px;
  height: 1000px;
}

@media (min-width: 500px) and (max-width: 1000px) {
  .kittens-container{
    display: grid;
    grid-template-columns:auto auto;
    gap: 25px;
    justify-content: space-between;
  }
  
  .kittens-container > div{
    border: 5px rgb(154, 203, 231) solid;
    border-radius: 5px;
    box-shadow: 10px 10px 10px;
    padding: 15px;
  }
  
  .kittens-box{
    padding: 40px;
    justify-content: center;
  }
  
  .kittens-box > button{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: space-between;
  }
  
  .kittens-container > image{
    width: 1000px;
    height: 1000px;
  }
}

@media (min-width: 288px) and (max-width: 500px) {
  .kittens-container{
    display: grid;
    grid-template-columns:auto;
    gap: 15px;
    justify-content: space-between;
  }
  
  .kittens-container > div{
    border: 5px rgb(154, 203, 231) solid;
    border-radius: 5px;
    box-shadow: 10px 10px 10px;
    padding: 15px;
  }
  
 /* follow these style guidleines (Mobile First Design) */
  .kittens-box{
    padding: 40px;
    justify-content: center;
  }
  
  .intro{
    display: grid;
    grid-template-columns:auto;
    gap: 15px;
    padding: 40px;
  }

  .btn{
    display: grid;
    grid-auto-flow: column;
    gap: 25px;

  }
  button{
    border: 5px rgba(1, 122, 192, 0) solid;
    box-shadow: 2.5px 2.5px 2.5px 0px rgba(2, 61, 95, 0.342);

  }
  
  .kittens-container > image{
    width: 1000px;
    height: 1000px;
  }
}

